<a href="https://colab.research.google.com/github/Katla19/Ola-data-Imbalance-treatment-/blob/main/olav2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
o=pd.read_csv('ola.csv')

In [ ]:
o.head(5)

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Unnamed: 0,MMM-YY,Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
0,0,01/01/19,1,28.0,0.0,C23,2,57387,24/12/18,NaN,1,1,2381060,2
1,1,02/01/19,1,28.0,0.0,C23,2,57387,24/12/18,NaN,1,1,-665480,2
2,2,03/01/19,1,28.0,0.0,C23,2,57387,24/12/18,03/11/19,1,1,0,2
3,3,11/01/20,2,31.0,0.0,C7,2,67016,11/06/20,NaN,2,2,0,1
4,4,12/01/20,2,31.0,0.0,C7,2,67016,11/06/20,NaN,2,2,0,1

In [ ]:
o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            19104 non-null  int64
 1   MMM-YY                19104 non-null  object
 2   Driver_ID             19104 non-null  int64
 3   Age                   19043 non-null  float64
 4   Gender                19052 non-null  float64
 5   City                  19104 non-null  object
 6   Education_Level       19104 non-null  int64
 7   Income                19104 non-null  int64
 8   Dateofjoining         19104 non-null  object
 9   LastWorkingDate       1616 non-null   object
 10  Joining Designation   19104 non-null  int64
 11  Grade                 19104 non-null  int64
 12  Total Business Value  19104 non-null  int64
 13  Quarterly Rating      19104 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 2.0+ MB

In [ ]:
o = o.drop(o.columns[0], axis=1)

In [ ]:
o.describe()

,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating
count,19104.000000,19043.000000,19052.000000,19104.000000,19104.000000,19104.000000,19104.000000,1.910400e+04,19104.000000
mean,1415.591133,34.668435,0.418749,1.021671,65652.025126,1.690536,2.252670,5.716621e+05,2.008899
std,810.705321,6.257912,0.493367,0.800167,30914.515344,0.836984,1.026512,1.128312e+06,1.009832
min,1.000000,21.000000,0.000000,0.000000,10747.000000,1.000000,1.000000,-6.000000e+06,1.000000
25%,710.000000,30.000000,0.000000,0.000000,42383.000000,1.000000,1.000000,0.000000e+00,1.000000
50%,1417.000000,34.000000,0.000000,1.000000,60087.000000,1.000000,2.000000,2.500000e+05,2.000000
75%,2137.000000,39.000000,1.000000,2.000000,83969.000000,2.000000,3.000000,6.997000e+05,3.000000
max,2788.000000,58.000000,1.000000,2.000000,188418.000000,5.000000,5.000000,3.374772e+07,4.000000

In [ ]:
o.describe(include='object')

          MMM-YY   City Dateofjoining LastWorkingDate
count      19104  19104         19104            1616
unique        24     29           869             493
top     01/01/19    C20      23/07/15        29/07/20
freq        1022   1008           192              70

In [ ]:
o.isnull().sum()

MMM-YY                      0
Driver_ID                   0
Age                        61
Gender                     52
City                        0
Education_Level             0
Income                      0
Dateofjoining               0
LastWorkingDate         17488
Joining Designation         0
Grade                       0
Total Business Value        0
Quarterly Rating            0
dtype: int64

In [ ]:
for col in o.columns:
  print(col,':',len(o[col].unique()))

MMM-YY : 24
Driver_ID : 2381
Age : 37
Gender : 3
City : 29
Education_Level : 3
Income : 2383
Dateofjoining : 869
LastWorkingDate : 494
Joining Designation : 5
Grade : 5
Total Business Value : 10181
Quarterly Rating : 4

In [ ]:
ola1 = o.copy()  # Assuming 'o' is your DataFrame
first = (ola1.groupby('Driver_ID').agg({'LastWorkingDate': 'last'})['LastWorkingDate'].isna()).reset_index()
first['LastWorkingDate'].replace({True: 1, False: 0}, inplace=True)
first.rename(columns={'LastWorkingDate': 'target'}, inplace=True)
first.head()

<ipython-input-42-5def8b978efb>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  first['LastWorkingDate'].replace({True: 1, False: 0}, inplace=True)
<ipython-input-42-5def8b978efb>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  first['LastWorkingDate'].replace({True: 1, False: 0}, inplace=True)

   Driver_ID  target
0          1       0
1          2       1
2          4       0
3          5       0
4          6       1

In [ ]:
# prompt: QR1 =  (ola1.groupby('Driver_ID').agg({'Quarterly Rating':'first'})['Quarterly Rating']).reset_index()
# QR2 = (ola1.groupby('Driver_ID').agg({'Quarterly Rating':'last'})['Quarterly Rating']).reset_index()

QR1 = (ola1.groupby('Driver_ID').agg({'Quarterly Rating':'first'})['Quarterly Rating']).reset_index()
QR2 = (ola1.groupby('Driver_ID').agg({'Quarterly Rating':'last'})['Quarterly Rating']).reset_index()

In [ ]:
# prompt: first = first.merge(QR1,on='Driver_ID')
# first = first.merge(QR2,on='Driver_ID')

first = first.merge(QR1, on='Driver_ID')
first = first.merge(QR2, on='Driver_ID')

In [ ]:
# prompt: first['Promotion'] = np.where(first['Quarterly Rating_x'] == first['Quarterly Rating_y'], 0,1)

first['Promotion'] = np.where(first['Quarterly Rating_x'] == first['Quarterly Rating_y'], 0, 1)

In [ ]:
# prompt: incm1 =  (ola1.groupby('Driver_ID').agg({'Income':'first'})['Income']).reset_index()
# incm2 = (ola1.groupby('Driver_ID').agg({'Income':'last'})['Income']).reset_index()

incm1 = (ola1.groupby('Driver_ID').agg({'Income': 'first'})['Income']).reset_index()
incm2 = (ola1.groupby('Driver_ID').agg({'Income': 'last'})['Income']).reset_index()

In [ ]:
# prompt: first = first.merge(incm1,on='Driver_ID')
# first = first.merge(incm2,on='Driver_ID')

first = first.merge(incm1, on='Driver_ID')
first = first.merge(incm2, on='Driver_ID')

In [ ]:
# prompt: first['Raise'] = np.where(first['Income_x'] == first['Income_y'], 0,1)

first['Raise'] = np.where(first['Income_x'] == first['Income_y'], 0, 1)

In [ ]:
# prompt: first = first[['Driver_ID','target','Raise','Promotion']]

first = first[['Driver_ID','target','Raise','Promotion']]

In [ ]:
functions = {'MMM-YY':'count',
             'Driver_ID':'first',
             'Age':'max',
             'Gender':'last',
            'City':'last',
             'Education_Level':'last',
             'Dateofjoining':'first',
            'LastWorkingDate':'last',
             'Grade':'last',
             'Total Business Value':'sum',
            'Income':'sum',
             'Dateofjoining':'first',
             'LastWorkingDate':'last',
            'Joining Designation':'last',
             'Grade':'last',
             'Quarterly Rating':'first'}
ola1 = ola1.groupby([ola1['Driver_ID']]).aggregate(functions)
ola1['month'] = pd.to_datetime(ola1['Dateofjoining']).dt.month
ola1['year'] = pd.DatetimeIndex(ola1['Dateofjoining']).year
ola1.rename(columns={'MMM-YY':'Reportings'},inplace=True)

<ipython-input-50-024b047189b9>:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ola1['month'] = pd.to_datetime(ola1['Dateofjoining']).dt.month

In [ ]:
ola1.reset_index(drop=True, inplace=True)
ola1 = ola1.merge(first,on='Driver_ID')

In [ ]:
import regex
ola1['Age'] = ola1['Age'].astype('int64')
ola1['Cities'] =ola1['City'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [ ]:
ola1.head()

,Reportings,Driver_ID,Age,Gender,City,Education_Level,Dateofjoining,LastWorkingDate,Grade,Total Business Value,Income,Joining Designation,Quarterly Rating,month,year,target,Raise,Promotion,Cities
0,3,1,28,0.0,C23,2,24/12/18,03/11/19,1,1715580,172161,1,2,12,2018,0,0,0,23
1,2,2,31,0.0,C7,2,11/06/20,None,2,0,134032,2,1,11,2020,1,0,0,7
2,5,4,43,0.0,C13,2,12/07/19,27/04/20,2,350000,328015,2,1,12,2019,0,0,0,13
3,3,5,29,0.0,C9,0,01/09/19,03/07/19,1,120360,139104,1,1,1,2019,0,0,0,9
4,5,6,31,1.0,C11,1,31/07/20,None,3,1265000,393640,3,1,7,2020,1,0,1,11

In [ ]:
# prompt: drop last working date

# ... (Your existing code) ...

# Assuming 'ola1' is your DataFrame
ola1 = ola1.drop('LastWorkingDate', axis=1)

# ... (Rest of your code) ...

In [ ]:
ola1= pd.get_dummies(ola1, columns=[ 'City', 'Education_Level', 'Joining Designation', 'Grade', 'Quarterly Rating'],
                     prefix=['City', 'Education_Level', 'Joining Designation', 'Grade', 'Quaterly Rating'])

In [ ]:
ola1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2381 entries, 0 to 2380
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Reportings             2381 non-null   int64
 1   Driver_ID              2381 non-null   int64
 2   Age                    2381 non-null   int64
 3   Gender                 2381 non-null   float64
 4   Dateofjoining          2381 non-null   object
 5   Total Business Value   2381 non-null   int64
 6   Income                 2381 non-null   int64
 7   month                  2381 non-null   int32
 8   year                   2381 non-null   int32
 9   target                 2381 non-null   int64
 10  Raise                  2381 non-null   int64
 11  Promotion              2381 non-null   int64
 12  Cities                 2381 non-null   int64
 13  City_C1                2381 non-null   bool
 14  City_C10               2381 non-null   bool
 15  City_C11               2381 non-null   bool
 16  City_C12               2381 non-null   bool
 17  City_C13               2381 non-null   bool
 18  City_C14               2381 non-null   bool
 19  City_C15               2381 non-null   bool
 20  City_C16               2381 non-null   bool
 21  City_C17               2381 non-null   bool
 22  City_C18               2381 non-null   bool
 23  City_C19               2381 non-null   bool
 24  City_C2                2381 non-null   bool
 25  City_C20               2381 non-null   bool
 26  City_C21               2381 non-null   bool
 27  City_C22               2381 non-null   bool
 28  City_C23               2381 non-null   bool
 29  City_C24               2381 non-null   bool
 30  City_C25               2381 non-null   bool
 31  City_C26               2381 non-null   bool
 32  City_C27               2381 non-null   bool
 33  City_C28               2381 non-null   bool
 34  City_C29               2381 non-null   bool
 35  City_C3                2381 non-null   bool
 36  City_C4                2381 non-null   bool
 37  City_C5                2381 non-null   bool
 38  City_C6                2381 non-null   bool
 39  City_C7                2381 non-null   bool
 40  City_C8                2381 non-null   bool
 41  City_C9                2381 non-null   bool
 42  Education_Level_0      2381 non-null   bool
 43  Education_Level_1      2381 non-null   bool
 44  Education_Level_2      2381 non-null   bool
 45  Joining Designation_1  2381 non-null   bool
 46  Joining Designation_2  2381 non-null   bool
 47  Joining Designation_3  2381 non-null   bool
 48  Joining Designation_4  2381 non-null   bool
 49  Joining Designation_5  2381 non-null   bool
 50  Grade_1                2381 non-null   bool
 51  Grade_2                2381 non-null   bool
 52  Grade_3                2381 non-null   bool
 53  Grade_4                2381 non-null   bool
 54  Grade_5                2381 non-null   bool
 55  Quaterly Rating_1      2381 non-null   bool
 56  Quaterly Rating_2      2381 non-null   bool
 57  Quaterly Rating_3      2381 non-null   bool
 58  Quaterly Rating_4      2381 non-null   bool
dtypes: bool(46), float64(1), int32(2), int64(9), object(1)
memory usage: 330.3+ KB

In [ ]:
# prompt: run knn on ola1 target being target

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Assuming 'ola1' is your DataFrame and 'target' is the target variable

# Select features and target
X = ola1.drop(['target','Driver_ID', 'Dateofjoining'], axis=1)
y = ola1['target']

# Handle missing values (optional)
X = X.fillna(X.mean())

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the KNN classifier
knn = KNeighborsClassifier(n_neighbors=5) # You can adjust the number of neighbors
knn.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7064989517819706

In [ ]:
# prompt: try random forest and xg boost for both test and train accuracy

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

# ... (Your existing code) ...

# Initialize and train the Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

# Make predictions on the training and test sets
y_train_pred_rf = rf_classifier.predict(X_train)
y_test_pred_rf = rf_classifier.predict(X_test)

# Evaluate the model
train_accuracy_rf = accuracy_score(y_train, y_train_pred_rf)
test_accuracy_rf = accuracy_score(y_test, y_test_pred_rf)
print("Random Forest Train Accuracy:", train_accuracy_rf)
print("Random Forest Test Accuracy:", test_accuracy_rf)

# Initialize and train the XGBoost classifier
xgb_classifier = XGBClassifier(random_state=42)
xgb_classifier.fit(X_train, y_train)

# Make predictions on the training and test sets
y_train_pred_xgb = xgb_classifier.predict(X_train)
y_test_pred_xgb = xgb_classifier.predict(X_test)

# Evaluate the model
train_accuracy_xgb = accuracy_score(y_train, y_train_pred_xgb)
test_accuracy_xgb = accuracy_score(y_test, y_test_pred_xgb)
print("XGBoost Train Accuracy:", train_accuracy_xgb)
print("XGBoost Test Accuracy:", test_accuracy_xgb)

Random Forest Train Accuracy: 1.0
Random Forest Test Accuracy: 0.9203354297693921
XGBoost Train Accuracy: 1.0
XGBoost Test Accuracy: 0.9287211740041929